/* CSS Document */

body{
	background-color: #ff6600;
}
#a1{
	width: 500px;
}
#a2{
	height: 100px;
	background-color: blue;
	color: blue;
}
.red{
    background-color: red;
}
#a2 .b1{
    color: white;
}